<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AUCTI<i class="fa fa-circle"></i>N</a>
        </div>
        <div class="navbar-nav navbar-right">
            <a href="#">Home</a>
        </div>
        <div class="navbar-nav navbar-right">
            <a href="#">Lots</a>
        </div>
        <div class="navbar-nav navbar-right">
            <a href="#">Service</a>
        </div>
        <div class="navbar-nav navbar-right">
            <a href="#">Forum</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a href="#">Sign in</a>
            <a href="#">Register</a>
        </div>
    </div>
</div>
</body>
</html>