<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" type = text/javascript"></script>

</head>
<body>

<p> TEXT</p>
<h1>text</h1>
<h2>text</h2>
<h3>text</h3>

<img src="https://s1.1zoom.ru/big0/813/Birds_Parrots_Beak_557542_1280x958.jpg">

<br>
<br>
<br>
<br>
<br>
<h4>text</h4>

<h5>text</h5>
<a href="http://yandex.ru">click YANDEX</a>
<table>
    <tr>
        <th>column1</th>
        <th>column2</th>
        <th>column3</th>
    </tr>

    <tr>
        <td>info1</td>
        <td>info2</td>
        <td>info3</td>
    </tr>
    <tr>
        <td>info4</td>
        <td>info5</td>
        <td>info6</td>
    </tr>
</table>

<h6>text</h6>

</body>
</html>