<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" type="text/javascript"></script>
</head>
<body>
<p>some text</p>
<h1>text</h1>
<h2>text</h2>
<h3>text</h3>
<br>
<br>
<br>
<br>

<h4>text</h4>
<h5>text</h5>
<h6>text</h6>

<a href="http://yandex.ru">click me</a>
<img src="https://s1.1zoom.ru/big0/791/Cats_Glance_Whiskers_460617.jpg">
<br>

<table>
    <tr>
        <th>column1</th>
        <th>column2</th>
        <th>column3</th>
    </tr>
    <tr>
        <td>info 1</td>
        <td>info 2</td>
        <td>info 3</td>
    </tr>
    <tr>
        <td>info 1</td>
        <td>info 2</td>
        <td>info 3</td>
    </tr>
</table>
</body>
</html>